@import url("tokens.css");

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-body-text);
	background-color: var(--color-body-background);
    color: var(--color-text-primary);
	font-style: normal;
	font-weight: normal;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	border-radius: 0;
	width: 100%;
	height: var(--header-height);
	z-index: 1;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	font-size: clamp(1.8em, 5vw, 2em);
	background-color: var(--color-header-primary);
	font-family: var(--font-heading);
	font-weight: bold;
	color: #0d1b2a;
	box-sizing: border-box;
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main-content {
    display: grid;
    margin-top: var(--header-height);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    min-height: 80vh;
}

.currently-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-size-big);
}

.currently-title {
    margin: 0; 
    font-family: var(--font-subheading);    
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-text-secondary);
    padding-bottom: var(--spacing-size-small);
}

.currently-section {
    padding: var(--spacing-size-big);
    margin: 0; 
    border-radius: 10px;
    background-color: var(--color-section-background);
}

.tabbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	background-color: var(--color-primary);
	color: var(--color-header-secondary);
	font-size: var(--size-subheading);
	font-family: var(--font-subheading);
	font-weight: bold;
	z-index: 1;
}

.tab-button {
	display: flex;
	flex-direction: column; /* stack the icon and text vertically */
	align-items: center;
	border: none;
	background: none;
	color: inherit;
	font-size: inherit;
	cursor: pointer;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* ensure it is on top */
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-width: 400px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
	margin-bottom: 10px;
	color: var(--color-header-secondary);
    font-family: var(--font-subheading);
	text-align: center;
	font-size: var(--size-subheading);
}

.modal-content form {
	display: flex;
	flex-direction: column;
	color: var(--color-text-primary);
}

.modal-content form input {
	padding: var(--spacing-size-small);
	font-family: var(--font-body-text);
}

.modal-content form button {
	padding: var(--spacing-size-small);
	background-color: var(--color-primary);
	color: white;
	border: none;
	cursor: pointer;
}

.modal-content button {
	display: block;
	margin: 0 auto;
	padding: var(--spacing-size-smallest) var(--spacing-size-big);
	background-color: var(--color-text-secondary);
	color: var(--color-body-background);
	border: none;
	cursor: pointer;
	border-radius: 4px;
	width: fit-content;
}

.profile-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: var(--spacing-size-big);
    border-radius: 8px;
    text-align: center;
    font-family: var(--font-body-text);
}

.profile-picture {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.username {
    color: var(--color-header-secondary);
    font-size: 1.2rem;
}

.bold-username {
    font-weight: bold;
}

.user-bio {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    background-color: var(--color-section-background);
    border-radius: 8px;
    min-height: 40vh;
    padding-top: var(--spacing-size-medium)
}
